/* responsivce-home.css */

@media screen and (min-width:723px) {
    .service-column {
        margin: 0 1%;
        padding-top: 0%;

    }

    .service-column>.service-col-title {
        margin-top: 1%;
        padding: .5% 0;   
    }
}
@media screen and (max-width: 722px) {
    .service-column {
        margin: 0 1%;
        padding-top: 0%;

    }
    .service-column>.service-col-title {
        margin-top: 1%;
        padding: .5% 0;
    }
}
@media screen and (min-width:535px) {
    .home-page-container {
        /* margin: 0 2%; */
    }
    .home-page-header {
        float: left;
        width: 45%;
    }
    
}
@media screen and (max-width:533px) {
    .home-page-container>article.mission-state>p {
        padding-top: 5%;
        margin-top: 2%;
    }
}
@media screen and (max-width:532px) {
    .home-page-header {
        padding-top:25% !important;
    }
}
@media screen and (max-width:430px) {
    .reviews-swiper .swiper-slide{
        font-size: .9rem;
    }
    .service-column>.service-col-title>.title-text {
        font-size: 95% !important;
    }
    #longevityMedHomePage>.title-text {
        margin-top: 2% !important;
    }
    
}