    /* service-swiper.css */
.service-rows {
    display: flex;
    flex-direction: column;
}
.service-rows button{
    min-height: 10vh;
}
/* service-swiper-background.css */

.service {
    min-height: 50vh;
}



/* .service>.content {
    background: transparent !important;
} */