/* service-swiper.css */


.services-swiper .swiper-slide .content {
    
}
.service-column>.service-col-title {
    text-decoration: none;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1rem;
    max-width: 30%;
    margin-top: 2%;
    margin-right: 5%;
}

.services-swiper .swiper-slide .service-title {
    padding: 1% 0;
    padding-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.services-swiper .swiper-slide .content {
    padding: 4% 5%;
    line-height: 1.5;
    font-size: .95rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    text-shadow: 0px 2px 2px whitesmoke;
    color: rgb(25, 44, 55);
}
.swiper.services-swiper {
    margin-top: 5%;
    width: 100%;
    overflow: visible;
    /* KEY FIX */
    touch-action: pan-y;
}

.services-swiper .swiper-wrapper{
    overflow: visible;
}
.services-swiper .swiper-slide .service-title {
    border: none;
}
.services-swiper .swiper-slide {
    display: flex;
    font-size: .5rem;
    flex-direction: column;
    border-radius: 8px;
    transition: transform 0.4s ease, opacity 0.4s ease, height 0.3s ease;
    opacity: 0.4;
    transform: scale(0.7);
    overflow: hidden;
    /* IMPORTANT FOR TOUCH NOT BREAKING PAGE SCROLL */
    touch-action: pan-y;
    
    width: 42%;
    margin: 0 5%;
    border: 1px solid black;
}

.services-swiper .swiper-slide.swiper-slide-active {
    opacity: 1;
    /* padding: 5%; */
    width: 50%;
    transition: all .3s;
}


@media (min-width: 1200px) {
    .services-swiper .swiper-slide {
        width: 25%;
    }
}


@media (min-width: 940px) {
    .services-swiper .swiper-slide {
        width: 27%;
    }

    .services-swiper .swiper-slide.swiper-slide-active {
        padding: 1%;
        margin: 1%;
        margin-top: -1% !important;
    }
}
@media screen and (min-width:534px) {
    .services-swiper .swiper-slide .content {
        margin: 15% 0 ;
    }
    
}
@media screen and (max-width:532px) {
    .services-swiper .swiper-slide .content {
        /* font-size: .85rem; */
    }
    
    .services-container {
        /* height: fit-content; */
    }
    
    .swiper.services-swiper {
        padding: 4%;
        /* max-height: 50px !important; */
        height: fit-content;
    }
    .services-swiper > .swiper-wrapper {
        height: fit-content;
    }
    .services-swiper > .swiper-wrapper > .swiper-slide {
        width: 220px !important;
        height: 50px !important;
    }

    .services-swiper .swiper-slide-active button {
        padding-top: 10%;
    }

    .services-swiper .swiper-slide-active {
        transform: scale(1.05) !important;
        
        opacity: 1;
        z-index: 5;
    }
}