/* sizing-contact.css */
.page-container.contact-page-container{
    /* padding-top: 40%; */
    /* margin-top: 2%; */
    padding-bottom: 50% !important;
    /* margin-bottom: 50%; */
    padding-top: 5%;
}
.page-container.contact-page-container> .address-num-container{
    margin: 0;
    padding:0
}
#contactForm {
    padding: 5% 0
}

#contactForm>.form-group {
    margin: 0 5%
}