.section-title,
.section-title .title-text {
    background: transparent;
    color: var(--text);
}
.sections-preview p,
.section-details p {
    color: var(--text);
    
}
.sections-preview h2,
.section-details h2 {    
    color: var(--heading);
}
.service-section .img-wrapper {
    /* background: #edf4fa; */
}
.more-info-btn {    
    
    /* background: white; */
    color: var(--accent);
}
.less-info {
    
    /* background: white; */
}
.section-details li {
    color: var(--text);
}
.women-men-nav a {
    /* background: white; */
    color: var(--heading);
}
