/* layout-med-spa-services.css */
.section {
    /* Limits the section to full viewport height */
    overflow: hidden;
    position: relative;
    /* Add this line */
}

.section-title.drop-down {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Ensure it's above the content */
}
.page-container.med-spa-serv-container .sections-containers .section .content  p{
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
}
.more-info-buttons{
    display: inline-flex;

}
.male-female-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: blue;
}