/* layout-med-spa-services.css */
/*==============================================================
  SERVICE SECTION
==============================================================*/
.service-section {
    overflow: hidden;
}
.service-section .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
/*==============================================================
  FLOATING MEDIA
==============================================================*/
.service-section .img-wrapper {
    overflow: hidden;
}
.img-wrapper img,
.img-wrapper video,
.service-video {

    display: block;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}
/*==============================================================
LINKS
==============================================================*/
.service-section .more-info-link,
.service-section .more-info-links a {
    display: inline-flex;
    align-items: center;
}
.women-men-nav {
    display: flex;
    flex-wrap: wrap;
}
.women-men-nav a {
    display: flex;
    align-items: center;
}