/* position-med-spa-serv.css */
/*==============================================================
  SERVICE SECTION
==============================================================*/
.service-section {
    position: relative;
}
/*==============================================================
  OPTIONAL ALTERNATING MEDIA
  (Works only if HTML already contains float-left/right classes)
==============================================================*/
#longevityMedicine .img-wrapper {
    float: right;
}

#bioHormoneReplacement .img-wrapper {
    float: left;
}

#botoxAndFillers .img-wrapper {
    float: right;
}

#glp1 .img-wrapper {
    float: right;
}


/* clearfix */
.service-section::after,
.sections-preview::after,
.section-details::after {
    content: "";
    display: block;
    clear: both;
}
.more-info-buttons {
    clear: both;
}