/* responsive-med-spa-serv.css */
@media (max-width:1000px) {
    .content {
        padding: 2.25rem;
    }
    .img-wrapper {
        /* width: 170px; */
    }
    .sections-preview p,
    .section-details p {
        font-size: 1.02rem;
    }
}
/*==============================================================
  MOBILE
==============================================================*/
@media (max-width:700px) {
    .title-text {
        font-size: 1.4rem;
    }
    .img-wrapper{
        width: 240px !important;
        margin: 0 0 1.5rem;
    }
    .women-men-nav {
        flex-direction: column;
    }
    
    .sections-preview p,
    .section-details p {
        max-width: none;
    }
}