/* responsive-med-spa-serv.css */
@media (min-width:701px) {
    
    .content {
        /* padding: 2.25rem; */
    }
    .img-wrapper {
        /* width: 170px; */
    }
    .sections-preview p,
    .section-details p {
        font-size: 1.02rem;
    }
}
/*==============================================================
  MOBILE
==============================================================*/
@media (max-width:700px) {
    .title-text {
        font-size: 1.4rem;
    }

    .img-wrapper {
        width: 220px !important;
        height: 200px;
        margin: 0 0 1.5rem;
    }

    .women-men-nav {
        flex-direction: column;
    }

    .sections-preview p,
    .section-details p {
        max-width: none;
    }
    .med-spa-serv-container {
        padding: 0 .5rem;
        padding-top: 5rem;
    }
}