/* sizing-med-spa-services.css */
.med-spa-serv-container {
    width: 100%;
    
}
.service-section{
    /* border: 1px solid red; */
    
}
/*==============================================================
  SERVICE SECTION
==============================================================*/
.sections-preview p,
.section-details p {
    font-size: 1.08rem;
    /* max-width: 78ch; */
    border: 1px solid blue;
    display: inline;
}

.sections-preview h2,
.section-details h2 {
    margin-bottom: .65rem;
}

/*==============================================================
  SERVICE SECTION
==============================================================*/
.sections-containers {
    max-width: var(--service-max-width);
}
.service-section .section-title {
    width: 90%;
}
.service-section .section-title img {
    width: 72px;
    /* height: auto; */
}

/*==============================================================
  FLOATING MEDIA
==============================================================*/
.service-section .img-wrapper {
    /* width: 300px; */
    /* height: 250px; */
    max-width: 500px;
    width: fit-content;
    /* border: 1px solid blue; */
    height: fit-content;
}
.service-video {
    display: block;
    width: 100%;
    height: 100%;
}
.img-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.women-men-nav img {
    width: 58px;
    height: auto;
}