/* sizing-med-spa-services.css */
.med-spa-serv-container {
    width: 100%;
}
/*==============================================================
  SERVICE SECTION
==============================================================*/
.sections-containers {
    max-width: var(--service-max-width);
}
.service-section .section-title {
    width: 90%;
}

/*==============================================================
  FLOATING MEDIA
==============================================================*/
.service-section .img-wrapper {
    width: 300px;
    height: 250px;
    max-width: 100%;
}
.img-wrapper img,
.img-wrapper video,
.service-video {
    width: 100%;
    height: 100%;
}